header {
  background-color: lightgray;
  padding: 1rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: min-content;
  margin: 0.5rem auto;
  padding: 1rem;
  border: 1px lightgray solid;
  border-radius: 0.25rem;
}

.card button {
  all: unset;
  cursor: pointer;
  color: #00aaff;
  align-self: flex-end;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 250ms;
}

.card button:hover {
  background-color: #eee;
}
